@tailwind base;
@tailwind components;
@tailwind utilities;



/* Custom scrollbar */
::-webkit-scrollbar {
  width: 8px;
}
.footer {
  background-image: url(../public//Footer.svg);
  background-position: center;
  object-fit: contain;
  object-position: center;
  background-repeat: no-repeat;
  padding: 0;
}
::-webkit-scrollbar-track {
  background: theme('colors.dark.200');
}

::-webkit-scrollbar-thumb {
  background: theme('colors.primary');
  border-radius: 2px;
}
.wait {
  background-image: url(../public/rect.svg);
}

/* Smooth scrolling */
html {
  scroll-behavior: smooth;
}
.hero {
  background-image: url('../public/herobg.svg');
  background-size: cover;
  background-position: center;
}